.btn1 {
    width: 120px;
    height: 50px;
    padding: 5px;
}

.col {
    padding: 10px;
}

.cus-col {
    height: 180px;
}

.buttom {
    height: 34px;
    width: 71px;
}
.sizebtn {
    height: 50px;
}
.imgbank {
    height: 150px;
    width: 150px;
}
  .paddingtop {
            padding-top: 50px;
            padding-bottom: 20px;
            padding-right: 5px;
        }
    #main {
            padding-top: 5px;
            background-color: aliceblue;
        }
        .paddingtop1 {
            padding-top: 45px;
            padding-bottom: 20px;
        }
