
      .btn1 {
            width: 150px;
            height: 45px;
            padding: 5px;
        }
        .col {
            padding: 10px;
        }
        .cus-col {
             height: 180px;
        }

        .buttom {
            height: 34px;
            width: 71px;
        }
         
